/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.synaptic-route-modal{
    padding: 0;
}

.synaptic-route-modal .modal-header{
    display: none;
}

.synaptic-route-modal h2 {
    color: var(--color-base-100);
    text-align: center;
    border-bottom: 1px solid var(--hr-color);
    padding-bottom: 1rem;
}

.synaptic-route-modal .suggestion-container {
    position: relative !important;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    padding-bottom: 1rem;
}

.synaptic-route-modal .suggestion-container .suggestion-item:is-selected{
    background-color: var(--background-modifier-active);
}

.synaptic-route-modal .suggestion-item{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
